/* Fonts */
@font-face {
    font-family: avenir;
    src: url('/css/Avenir-Next.ttc');
}

@keyframes initColourChange {
    from {
    -webkit-box-shadow: 0 8px 8px 0px #cacaca;
    -moz-box-shadow: 0 8px 8px 0px #cacaca;
    box-shadow: 0 8px 8px 0px #cacaca;
  }
    to {
      -webkit-box-shadow: 0 8px 8px 3px #6c6c6c;
      -moz-box-shadow: 0 8px 8px 3px #6c6c6c;
      box-shadow: 0 8px 8px 3px #6c6c6c;
  }
}


/* Containers */

.head {
    min-height: 100vh !important;
}
.transition, .footer {
    height: 50vh !important;
}
.bgimgWrapper {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* General Properties */

body {
    font-family: avenir;
}
.fadeIn {
    opacity: 0;
}
.parallax-container {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
::selection {
    background: #59d459;
}
::-moz-selection {
    background: #59d459;
}
.subtitle{
  position: relative;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 5vh;
  color: #61B329;
  font-weight: 600;
  font-size: 45px;
}

.action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 25px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    color: #FFF;
    text-decoration: none;
    background-color: #000080;
    border-bottom: 7.5px solid #000059;
    text-shadow: 0px -2px #000059;
    top: 75px;
}
.action-button:hover{
      cursor: pointer;
      transform: translate(0px, 7.5px);
      -webkit-transform: translate(0px, 7.5px);
      top: 80px;
      border-bottom: 1px solid #000059;
}

/* Backgrounds */

.firstBG {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('file:///Users/ibrahimirfan/Desktop/Code/tu20website/img/placeholder.jpg') no-repeat center center fixed;
}
.secondBG {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('file:///Users/ibrahimirfan/Desktop/Code/tu20website/img/placeholder2.jpg') no-repeat center center fixed;
}
.footerBG {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('file:///Users/ibrahimirfan/Desktop/Code/tu20website/img/placeholder2.jpg') no-repeat center center fixed;
}

/*'*/


/* First section */

#bgTitleText {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 70px;
    top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
}
#TU20Blurb {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 25px;
    top: 100px;
    width: 50%;
    padding-left: 50px;
    padding-top: 170px;
}
#downArrow:hover {
    cursor: pointer;
}
#downArrowWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.header {
    background-color: white;
    color: #61B329;
    font-weight: 600;
    font-size: 45px;
}

/* About Us Section */
video{
  margin-bottom: 100px;
}

/* Our initiatives Section */
.init {
    display: inline-block;
    width: 25%;
    text-align: center;
    -webkit-box-shadow: 0 8px 8px 0px #cacaca;
    -moz-box-shadow: 0 8px 8px 0px #cacaca;
    box-shadow: 0 8px 8px 0px #cacaca;
    margin-bottom: 50px;
    vertical-align:top;
}
#cupInit{
  margin-left: 10%;
}
#initDescWrapper{
  height: 250px;
}
#initDesc{
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
#chaptersInit{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.init:hover{
    cursor: pointer;
    animation-name: initColourChange;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

/* Meet the team section */
.headshot {
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 4vh;
    position: relative;
}
.headshot img {
    width: 175px;
    border-radius: 50%;
}
.overlay {
    background-color: black;
    border-radius: 50%;
}
#ellaPicture, #ibrahimPicture {
    padding-left: 0% !important;
}
figcaption {
    position: relative;
    padding-top: 1vh;
    color: #007f00;
    font-weight: 200;
    font-size: 25px;
}

/* Contact Us Section */

#contactTitle {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 10vh;
}
.connectButton {
    padding-top: 5vh;
    position: absolute;
    z-index: 5;
}
#facebookIcon {
    padding-left: 30%;
}
#twitterIcon {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
#instaIcon {
    right: 0;
    padding-right: 30%;
}
#emailUs {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 600;
    padding-top: 25vh;
}
